<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="position-relative pt-1">
                        <i class="bi bi-bell"></i>
                        <span
                            class="p-1 bg-primary border rounded-circle position-absolute top-0 start-100 translate-middle">
                            <span class="visually-hidden">New Notifications</span>
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                    <li>
                        <h6 class="dropdown-header fs-7 text-center">18 Notifications</h6>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#!">
                            <span>
                                <i class="bi bi-envelope-fill me-2"></i>
                                <span class="fs-7">New Messages</span>
                            </span>
                            <span class="fs-7 ms-auto text-secondary">5 mins</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#!">
                            <span>
                                <i class="bi bi-person-fill me-2"></i>
                                <span class="fs-7">Friend Requests</span>
                            </span>
                            <span class="fs-7 ms-auto text-secondary">17 hours</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#!">
                            <span>
                                <i class="bi bi-file-earmark-fill me-2"></i>
                                <span class="fs-7">New Reports</span>
                            </span>
                            <span class="fs-7 ms-auto text-secondary">3 days</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item fs-7 text-center" href="#!">See All Notifications</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="/images/download1.jpg" width="24px" height="24px"
                        class="img-fluid rounded-circle" alt="Crypto Zilla">
                </a>
                <ul class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                    <li>
                        <h6 class="dropdown-header fs-7 text-center">Welcome, Crypto Zilla</h6>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="pages-profile.html">
                            <span>
                                <i class="bi bi-person-fill me-2"></i>
                                <span class="fs-7">View Profile</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#!">
                            <span>
                                <i class="bi bi-bell-fill me-2"></i>
                                <span class="fs-7">Notifications</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="pages-profile.html">
                            <span>
                                <i class="bi bi-gear-fill me-2"></i>
                                <span class="fs-7">Settings & Privacy</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="pages-faqs.html">
                            <span>
                                <i class="bi bi-question-circle-fill me-2"></i>
                                <span class="fs-7">Help Center</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item text-center" href="auth-logout.html">
                            <span>
                                <span class="fs-7">Log Out</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item text-nowrap d-md-none">
                <button class="nav-link px-2 text-white" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <svg class="bi">
                        <use xlink:href="#list" /></svg>
                </button>
            </li>
        </ul>
    </div>
</nav>