/* table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
} */

.hero-img {
  width: 75%;
  height: 350px;
  object-fit: contain;
}

.modal {
  z-index: 1050; 
}

.modal-backdrop {
  z-index: 1049;
}